
.name{

letter-spacing: 3px;
color:blue;
font-style: italic;
}
.name1{

letter-spacing: 3px;
color:blue;
font-style: italic;
}
.name2{

letter-spacing: 3px;
color:blue;
font-style: italic;
}
.name3{

letter-spacing: 3px;
color:blue;
font-style: italic;
}
.name4{

letter-spacing: 3px;
color:blue;
font-style: italic;
}
.name5{

letter-spacing: 3px;
color:blue;
font-style: italic;
}
.name6{

letter-spacing: 3px;
color:blue;
font-style: italic;
}
.name7{

letter-spacing: 3px;
color:blue;
font-style: italic;
}
#ne{

font-style: bold;
color:green;
}
#se{

font-style: bold;
color:green;
}